// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.custom-heading {
    color: #007bff;
}

.alert {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.alert.hide {
    opacity: 0;
}

