// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.custom-heading {
    color: #007bff;
}

.alert {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.alert.hide {
    opacity: 0;
}

.completed {
    text-decoration: line-through; /* Add strike-through for completed tasks */
}

.completed .fa-check {
    color: green; /* Color the tick icon green for completed tasks */
}

